.advantages {
    min-height: 472px;
    padding: 69px 0 81px 0;
    background-color: #f6f6f6;
    &__header {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #0d0d0d;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        .advantages__icon {
            width: 240px;
            text-align: center;
            margin-top: 65px;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
            &-img {
                display: block;
                margin: 0 auto;
                margin-bottom: 38px;
            }
            &-img_animated {
                animation: heartbeat 1.5s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
            span {
                display: block;
                margin-top: 25px;

                font-size: 14px;
                font-weight: 300;
                line-height: 18px;
                color: #0d0d0d;
                a {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: #ff0000
                }
            }
        }
    }
}